 .hero {
    width: 100%;
    min-height: calc(100vh - 92px);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
  }
  
  .hero:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .hero h1 {
    margin: 0;
    font-size: 54px;
    font-weight: 700;
    color: black;
  }
  
  .hero p {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: black;
    text-align: center;
  }
  
  .hero p span {
    letter-spacing: 3px;
  }
  
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 32px;
    }
  
    .hero p span{
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
