.duration {
  font-size: 14px;
}

.experiences .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--muted-blue-color);
  position: relative;
  color: var(--white-color);
}

.experiences .experience-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 10px;
}

.experiences .experience-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.experiences .experience-item ul {
  padding-left: 20px;
}

.experiences .experience-item ul li {
  padding-bottom: 10px;
}

.experiences .experience-item:last-child {
  padding-bottom: 0;
}

.experiences .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  border: 2px solid var(--accent-color);
}

@media (max-width: 768px) {
  .experiences .card .card-title {
    flex-direction: column;
  }
  .experiences .card .card-title .role-company {
    font-size: 18px;
  }
  .experiences .card .card-title .duration {
    margin-top: .5rem;
  }
}